.horarios-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    animation: fadeIn 1s ease-out;
  }
  
  .titleh {
    font-size: 3.5rem; /* Aumenta o tamanho da fonte para o título principal */
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase; /* Adiciona transformação para caixa alta */
  }
  
  .horarios-section {
    background-color: #000000;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .horarios-section:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .section-titleh {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .section-text {
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.7;
    text-align: center;
  }
  
  /* Animação de Fade In */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Adaptação para telas menores */
  @media (max-width: 768px) {
    .title {
      font-size: 3rem; /* Ajuste o tamanho da fonte para telas menores */
    }
  
    .section-titleh {
      font-size: 2rem;
    }
  
    .section-text {
      font-size: 1rem;
    }
  }

  @media (max-width: 657px){
    .titleh{
      max-width: 5050px;
      margin-right: 25px;
      font-size: 2.5rem;
    }
  }

  @media (max-width: 637px){
    .titleh{
      font-size: 2.5rem;

    }
  }

  @media (max-width: 611px){
    .horarios-container{
      margin-left: 70px;
      min-width: 558px;
    }
    .horarios-section{
      width: 80%;
      padding: 20px;
    }
    .titleh{
      font-size: 2.5rem;
      max-width: 500px;
    }
  }
  
  @media (max-width: 480px) {
    .titleh {
      font-size: 2.5rem; /* Ajuste ainda mais para telas pequenas */
    }
  
    .section-titleh {
      font-size: 1.5rem;
    }
  
    .section-text {
      font-size: 0.9rem;
    }
  }
  